# НЕЛЬЗЯ УДАЛЯТЬ ЛЮБЫЕ СТРОКИ ИЗ ЭТОГО ФАЙЛА

# это комментарий и он не обрабатывается парсером
# любые комментарии удалять нельзя

# логика файла:
# сначала идет несколько строк-комментариев, в которых содержится информация о функции и допустимых значениях для её активации
# а затем поле для ввода одного из допустимых значений этой функции.

# для активации желаемой функции необходимо просто заменить старое значение функции - новым, сохраняя исходный формат ввода

# ============================================================================================================================

# Необходимо получить: App api_id, App api_hash для аккаунта, который планируете использовать под парсинг
# Заходим на сайт https://my.telegram.org/ и авторизовываемся в аккаунте, который будем использовать в парсере
# Далее переходим по ссылке "API development tools" на странице, полученной после авторизации
# После перехода необходимо заполнить только три поля: App title, Short name, Platform (выбираем Desktop), нажав на "Create Application".
# Полученные App api_id, App api_hash вставить ниже в поля TELEGRAM_API_ID, TELEGRAM_API_HASH соответственно

# ВАЖНО: Отключите VPN либо выйдите из режима инкогнито, если при получении ключей возникает ошибка (ERROR)

TELEGRAM_API_ID = 12345678 # здесь App api_id, указано для примера
TELEGRAM_API_HASH = adksalkdsaklxsaklskdladkla # здесь App api_hash, указано для примера

# Прокси - случай мультиаккинга или Вы хотите скрыть свой реальный ip/geo/иное при парсинге
# Можно пользоваться хоть бесплатными прокси, парсер к ним адаптирован, главное чтобы они были не забанены телеграмом

PROXY_PARSING_ENABLED = False # True / False парсить через прокси
PROXY_PARSING_SCHEME = socks5 # socks5 / http протоколы (https также возможен, установить в таком случае http)
PROXY_PARSING_HOSTNAME = 167.71.241.136 # имя хоста, указано для примера
PROXY_PARSING_PORT = 33299 # порт, указано для примера
PROXY_PARSING_USERNAME = # при необходимости авторизации, иначе оставить пустым после знака =
PROXY_PARSING_PASSWORD = # при необходимости авторизации, иначе оставить пустым после знака =

# Поиск каналов и чатов по ключевым словам

# Несколько вариантов ключевых слов для поиска указываются через |
# Если после "="" ничего нет, то функция игнорируется

# Результат поиска сохраняется в файл csv в папке с парсером

# Примеры:
# куда сходить спб
# куда сходить спб|куда сходить мск

TARGET_PARSER_CHATS_CHANNELS_KEYWORDS = куда сходить спб|куда сходить мск

# Поиск людей в телеграм по геолокации
# Отбираются только те, у кого есть юзернейм

# Просто укажите координаты широты (lat) и долготы (long) через пробел страны / города
# Если после "="" ничего нет, то функция игнорируется

# Результат поиска сохраняется в файл csv в папке с парсером

TARGET_PARSER_USERS_GEO_LAT_LONG = 55.751244 37.618423